* {
    margin: 0; padding: 0; box-sizing: border-box;
}


html {
    scroll-padding: 10vh;
    scroll-behavior: smooth;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: sticky;
    top: 0;
    background: linear-gradient(to left, white 20%, black 80%);
}
.header_kitfo h1 {
    font-size: 20px;
    color: white;
}
.header_nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.header_nav a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}


section {
    width: 100vw;
    height: 90vh;
}

.home {
    height: 50vh;
    background: radial-gradient(circle, gray 50%, black 100%);
}
.home_container {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}
.home_container img {
    height: 200px;
    border-radius: 50%;
    border: solid black;
    box-shadow: 0 0 10px white;

}
.home h1 {
    font-size: 20px;
    text-align: center;
}
.home p {
    text-align: center;
    font-size: 16px;
    padding: 0 20px;
}

.section_small{
    width: 100vw;
    min-height: 10vh;
    background-color: black;
}
.small_1 {
    width: 100vw;
    min-height: 100%;
    background-color: rgba(255, 255, 0, 0.432);
}
.small_1 p {
    color: white;
    font-size: 16px;
    padding: 10px 20px 0px 20px;
}
.small_1 h1 {
    color: white;
    font-size: 16px;
    padding: 0 20px 10px 40px;
}

.about {
    background: radial-gradient(circle, white 20%, gray 100%);
}

/* Here ako i adjust ang screen para maka adapt sa lain - Lord please */
@media (max-width: 600px) {
    header {
        padding: 0 25px;
        background: linear-gradient(to left, white 40%, black 90%);
    }
}